.about {
    position: relative;
    background: $black;
    padding-top: 100px;

    .about__bg {
        background: url(../images/about.png) center center no-repeat;
        background-size: cover;
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        width: 70%;
        height: 80%;
    }

    .about__text {
        color: #ffffff;
        z-index: 10;
        width: 40%;

        .about__text {
            width: 100%;
        }

        .about__title {
            font-size: 50px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .about__text {
            font-size: 15px;
            opacity: .6;
        }
    }

    .about__facts {
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 140px;
        height: 130px;

        .facts__subtitle {
            width: 29%;
            height: 100%;
            background: $orange;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .facts__title {
            font-size: 25px;
            font-weight: bold;
            margin: 0;
        }

        .facts__list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 70%;
            background: $black;
            height: 100%;

            .list__item {
                width: 30%;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-right: 2px solid rgba(236, 236, 236, 0.055);

                &:last-child {
                    border-right: none;
                }

                .item__name {
                    font-size: 15px;
                    font-weight: bold;
                    color: #ffffff;
                    margin: 0;
                }

                .item__num {
                    color: $orange;
                    font-size: 35px;
                    margin: 0;
                }
            }
        }
    }
}

.know {
    padding-top: 50px;

    .about__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .know__container {
        align-items: center;
        justify-content: center;
    }

    .content__subtitle {
        font-size: 15px;
        color: $orange;
        text-align: center;
        margin-bottom: 0;

        .subtitle__link {
            color: $orange;
            font-weight: bold;
        }
    }

    .content__title {
        font-size: 35px;
        color: $black;
        text-align: center;
        margin-top: 0;
    }

    .content__about {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .content__text {
        color: $black;
        font-size: 15px;
    }
}