.footer {
    background: #0B1420;
    color: #ffffff;
    padding: 50px 0;

    .footer__container {
        flex-direction: row;
        justify-content: space-between;

        @include phones() {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    .footer__logo {
        @include phones() {
            margin-bottom: 20px;
        }
    }

    .footer__menu {
        display: flex;

        @include phones() {
            margin-bottom: 20px;
            align-items: center;
            justify-content: space-around;
            width: 100%;
        }

        .item__link {
            color: #ffffff;
            text-decoration: none;
            transition: .3s;
            margin-right: 20px;
            font-size: 20px;

            @include phones() {
                margin-right: 0;
            }

            &:hover {
                color: $orange;
            }
        }
    }

    .footer__dw {
        display: flex;

        @include phones() {
            margin-bottom: 20px;
        }

        .dw__link {
            color: #ffffff;
            transition: .3s;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: none;
            justify-content: center;
            text-align: center;

            &:hover {
                color: $orange;
            }

            .dw__logo {
                height: 40px;
            }
        }
    }
}