.header {
    position: absolute;
    width: 100%;
    padding-top: 50px;
    z-index: 2;

    @include phones() {
        padding-top: 25px;
    }

    .header__container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @include phones() {
            flex-direction: column;
        }
    }

    .logo__img {
        height: 60px;

        @include phones() {
            margin-bottom: 15px;
        }
    }

    .header__menu {
        display: flex;

        @include phones() {
            align-items: center;
            justify-content: space-around;
            text-align: center;
            width: 100%;
            margin-bottom: 15px;
        }

        .item__link {
            color: #ffffff;
            text-decoration: none;
            font-size: 15px;
            font-weight: bold;
            margin-right: 45px;
            transition: .3s;

            @include phones() {
                margin-right: 0;
            }

            &:hover {
                color: $orange;
            }
        }
    }

    .header__contacts {
        display: flex;
        flex-direction: column;
        
        .contacts__tel {
            color: #ffffff;
            font-size: 15px;
            font-weight: bold;
            text-decoration: none;
            transition: .3s;

            &:hover {
                color: $orange;
            }
        }

        .contacts__mail {
            color: #ffffff;
            font-size: 15px;
            opacity: .6;
            text-decoration: none;
            transition: .3s;

            &:hover {
                color: $orange;
            }
        }
    }
}

.header--black {
    color: $black;

    .header__menu {
        .item__link {
            color: $black;
        }
    }

    .header__contacts {
        .contacts__tel {
            color: $black;            
        }

        .contacts__mail {
            color: $black;            
        }
    }
}

.header--wb {
    .header__menu {
        .item__link--black {
            color: $black;
        }

        .item__link {
            @include phones() {
                color: $black;
            }
        }
    }

    .header__contacts {
        .contacts__tel {

            @include phones() {
                color: $black;            
            }
        }

        .contacts__mail {

            @include phones() {
                color: $black;            
            }
        }
    }
}