.hero {
    background: url('../images/hero-bg.png') center center no-repeat;
    background-size: cover;
    height: 100vh;

    .hero__container {
        align-items: center;
        justify-content: center;
        height: 100%;
        color: #ffffff;
    }

    .hero__text {
        font-size: 20px;
        margin-bottom: 0;
    }

    .hero__title {
        font-size: 50px;
        font-weight: bold;
        margin-top: 0;
    }

    .hero__list {
        font-size: 20px;
        display: flex;

        .list__item {
            margin-right: 80px;
        }
    }

    .hero__btn {
        background: linear-gradient(90deg, #FFA20D 0%, #FFB402 100%);
        border-radius: 100px;
        color: $black;
        font-weight: bold;
        width: 301px;
        height: 70px;
        border: none;
        margin-top: 50px;
        font-size: 20px;
        cursor: pointer;
        transition: .3s;

        &:hover {
            opacity: .8;
        }
    }
}