.service {
    padding-top: 150px;
    position: relative;

    @include phones() {
        padding-top: 200px;
    }

    .service__bg {
        position: absolute;
        background: $black;
        width: 50%;
        height: 100%;
        top: 0;
        right: 0;
        z-index: 1;

        @include phones() {
            display: none;
        }
    }

    .service__breadcrumbs {
        display: flex;
        align-items: center;

        .item__link {
            color: $black;
            font-size: 15px;
            text-decoration: none;
            margin-right: 10px;
            transition: .3s;

            &:hover {
                color: $orange;
            }

            &--active {
                color: $black;
                opacity: .6;
            }
        }
    }

    .service__content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        color: #ffff;
        z-index: 2;
        margin-top: 30px;

        @include phones() {
            flex-direction: column;
            justify-content: center;
        }

        .content__slider {
            width: 60%;
            display: flex;

            @include phones() {
                width: 100%;
                order: -2;
            }

            .slider__slide {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                .slide__img {
                    max-width: 100%;
                }
            }
        }

        .content__about {
            display: flex;
            flex-direction: column;
            width: 35%;

            @include phones() {
                width: 100%;
            }

            .about__title {
                font-size: 50px;
                font-weight: bold;
                margin: 0;

                @include phones() {
                    color: $black;
                }
            }

            .about__price {
                font-size: 35px;
                font-weight: bold;
                color: $orange;
                margin: 10px 0;
            }

            .about__text {
                opacity: .6;
                font-size: 15px;
                margin: 0;
                margin-bottom: 10px;

                @include phones() {
                    color: $black;
                }
            }

            .about__list {
                padding-left: 20px;
                list-style-type: disc;
                font-size: 15px;
                opacity: .6;

                @include phones() {
                    color: $black;
                }

                .list__item {
                    margin-bottom: 10px;
                }
            }

            .about__imgs {
                display: flex;
                justify-content: space-around;

                .imgs__img {
                    max-width: 30%;
                    max-height: 90px;
                }
            }
        }

        .content__btns {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 100px;
            margin-top: 20px;
            margin-bottom: 20px;

            @include phones() {
                margin: 0;
                order: -1;
            }

            .btns__btn {
                background: none;
                border: none;
                margin-right: 20px;
                cursor: pointer;
                transition: .3s;

                @include phones() {
                    background: $orange;  
                    width: 50px;    
                    margin-top: 10px;
                    padding: 5px;                  
                }
            }
        }
    }
}

.service-about {

    .service-about__title {
        text-align: center;
        font-size: 35px;
    }

    .service-about__text {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .service-about__list {
        padding-left: 40px;
        list-style-type: disc;
        margin-top: 10px;

        &--num {
            list-style-type: decimal;
        }

        .list__item {
            font-size: 15px;
            margin-bottom: 5px;
        }
    }

    .service-about__subtitle {
        font-size: 30px;
        font-weight: bold;
    }
}