.services {
    padding: 100px 0;

    .services__title {
        font-size: 35px;
        font-weight: bold;
        color: $black;
        text-align: center;
    }

    .services__text {
        font-size: 15px;
        text-align: center;

        .text__link {
            text-decoration: none;
            color: $orange;
            font-weight: bold;
        }
    }

    .services__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .list__item {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 26%;
            height: 350px;
            margin-bottom: 100px;

            .item__link {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: .3s;

                &:hover {
                    .item__bg {
                        opacity: .7;
                        transition: .3s;
                    }

                    .item__arrow {
                        opacity: 1;
                        transition: .3s;
                    }
                }
            }

            .item__bg {
                width: 100%;
                height: 100%;
                background: $orange;
                opacity: 0;
                position: absolute;
            }

            .item__arrow {
                opacity: 0;
            }

            .item__about {
                display: flex;
                flex-direction: column;
                color: $black;
                background: #ffff;
                padding: 25px 25px;
                height: 160px;
                width: 320px;
                position: absolute;
                bottom: -50px;
                right: -100px;

                .about__title {
                    font-size: 25px;
                    margin: 0;
                }

                .about__text {
                    font-size: 15px;
                    opacity: .6;
                }
            }

            &--1 {
                background: url('../images/services/1.png') center center no-repeat;
                background-size: cover;
            }

            &--2 {
                background: url('../images/services/2.png') center center no-repeat;
                background-size: cover;
            }

            &--3 {
                background: url('../images/services/3.png') center center no-repeat;
                background-size: cover;
            }

            &--4 {
                background: url('../images/services/4.png') center center no-repeat;
                background-size: cover;
            }

            &--5 {
                background: url('../images/services/5.png') center center no-repeat;
                background-size: cover;
            }

            &--6 {
                background: url('../images/services/6.png') center center no-repeat;
                background-size: cover;
            }

            &--7 {
                background: url('../images/services/7.png') center center no-repeat;
                background-size: cover;
            }

            &--8 {
                background: url('../images/services/8.png') center center no-repeat;
                background-size: cover;
            }

            &--9 {
                background: url('../images/services/9.png') center center no-repeat;
                background-size: cover;
            }
        }
    }
}