.why {
    padding: 50px 0;

    .why__title {
        font-size: 35px;
        color: $black;
        text-align: center;
    }

    .why__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .list__item {
            width: 30%;
            font-size: 20px;
            text-align: center;
            color: $black;
            font-weight: bold;

            @include phones() {
                width: 100%;
            }
        }
    }
}