<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>СпецПромСервис</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="./assets/styles/main.css">
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="container header__container">
                <a href="./index.html" class="header__logo">
                    <img src="./assets/images/logo.png" alt="СпецПромСервис" class="logo__img">
                </a>
                <ul class="header__menu">
                    <li class="menu__item"><a href="./services.html" class="item__link">Услуги</a></li>
                    <li class="menu__item"><a href="./about.html" class="item__link">О компании</a></li>
                </ul>
                <div class="header__contacts">
                    <a href="tel:+74959243530" class="contacts__tel">+7 (495) 924-35-30</a>
                    <a href="mailto:info@spsservice.msk.ru" class="contacts__mail">info@spsservice.msk.ru</a>
                </div>
            </div>
        </header>
        <section class="section hero">
            <div class="container hero__container">
                <p class="hero__text">С оплатой по факту и гарантией 12 лет!</p>
                <h1 class="hero__title">
                    Любые строительные работы под ключ
                </h1>
                <ul class="hero__list">
                    <li class="list__item">
                        <img src="./assets/images/check.png" alt="наше преимущество" class="item__img">
                        От 15 000 рублей
                    </li>
                    <li class="list__item">
                        <img src="./assets/images/check.png" alt="наше преимущество" class="item__img">
                        Без предоплаты
                    </li>
                    <li class="list__item">
                        <img src="./assets/images/check.png" alt="наше преимущество" class="item__img">
                        Скидка 50%
                    </li>
                </ul>
                <button class="hero__btn">Оставить заявку</button>
            </div>
        </section>
        <section class="section partners">
            <div class="container partners__container">
                <img src="./assets/images/partners/1.png" alt="партнеры" class="partners__img">
                <img src="./assets/images/partners/2.png" alt="партнеры" class="partners__img">
                <img src="./assets/images/partners/3.png" alt="партнеры" class="partners__img">
                <img src="./assets/images/partners/4.png" alt="партнеры" class="partners__img">
            </div>
        </section>
        <section class="section callback">
            <div class="container callback__container">
                <div class="callback__text">
                    <h2 class="text__title">Мы вам перезвоним</h2>
                    <p class="text__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <form class="callback__form">
                    <input type="text" class="form__inp" placeholder="Имя">
                    <input type="text" class="form__inp" placeholder="Телефон">
                    <input type="text" class="form__inp" placeholder="E-mail">
                    <button class="form__btn">Отправить</button>
                </form>
            </div>
        </section>
        <section class="section why">
            <div class="container why__container">
                <h2 class="why__title">Почему нас выбирают клиенты?</h2>
                <ul class="why__list">
                    <li class="list__item">
                        <img src="./assets/images/why/1.png" alt="why" class="item__img">
                        <h3 class="item__title">Профессионализм и опыт</h3>
                    </li>
                    <li class="list__item">
                        <img src="./assets/images/why/2.png" alt="why" class="item__img">
                        <h3 class="item__title">Гибкость</h3>
                    </li>
                    <li class="list__item">
                        <img src="./assets/images/why/3.png" alt="why" class="item__img">
                        <h3 class="item__title">Ориентация на клиента</h3>
                    </li>
                    <li class="list__item">
                        <img src="./assets/images/why/4.png" alt="why" class="item__img">
                        <h3 class="item__title">Скидки на оборудование при заказе монтаже</h3>
                    </li>
                    <li class="list__item">
                        <img src="./assets/images/why/5.png" alt="why" class="item__img">
                        <h3 class="item__title">Беспристрастная экспертиза проекта</h3>
                    </li>
                    <li class="list__item">
                        <img src="./assets/images/why/6.png" alt="why" class="item__img">
                        <h3 class="item__title">Гарантия на все виды работ и оборудование</h3>
                    </li>
                </ul>
            </div>
        </section>
        <section class="section contacts">
            <div class="container contacts__container">
                <h2 class="contacts__title">Контакты</h2>
                <ul class="contacts__list">
                    <li class="list__item">
                        <img src="./assets/images/contacts/phone.png" alt="телефон" class="item__img">
                        <a href="tel:+74959243530" class="item__link">+7 (495) 924-35-30</a>
                        <a href="tel:+74959243530" class="item__link">+7 (495) 924-35-30</a>
                    </li>
                    <li class="list__item">
                        <img src="./assets/images/contacts/mail.png" alt="телефон" class="item__img">
                        <a href="mailto:info@spsservice.msk.ru" class="item__link">info@spsservice.msk.ru</a>
                    </li>
                    <li class="list__item">
                        <img src="./assets/images/contacts/adress.png" alt="телефон" class="item__img">
                        <a href="#" class="item__link">Москва, г. Зеленоград, проезд №4922, дом 4, Технопарк "ЭЛМА"</a>
                    </li>
                </ul>
            </div>
        </section>
        <footer class="footer">
            <div class="container footer__container">
                <a href="./index.html" class="footer__logo">
                    <img src="./assets/images/logo.png" alt="Логотип" class="logo__img">
                </a>
                <ul class="footer__menu">
                    <li class="menu__item"><a href="./services.html" class="item__link">Услуги</a></li>
                    <li class="menu__item"><a href="./about.html" class="item__link">О компании</a></li>
                </ul>
                <div class="footer__dw">
                    <a href="#" class="dw__link">
                        <img src="./assets/images/dw.png" alt="#" class="dw__logo">
                        Создание и продвижение сайтов
                    </a>
                </div>
            </div>
        </footer>
        <div class="popup">
            <button class="popup__exit">&#10008;</button>
            <form class="popup__form">
                <h2 class="form__title">Оставить заявку</h2>
                <input type="text" class="form__inp" placeholder="Имя">
                <input type="text" class="form__inp" placeholder="Телефон">
                <input type="text" class="form__inp" placeholder="E-mail">
                <button class="form__btn">Отправить</button>
            </form>
        </div>
        <div class="bg"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="./assets/scripts/main.js"></script>
</body>

</html>