<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>СпецПромСервис</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="./assets/styles/main.css">
</head>

<body>
    <div class="wrapper">
        <header class="header header--wb">
            <div class="container header__container">
                <a href="./index.html" class="header__logo">
                    <img src="./assets/images/logo-black.png" alt="СпецПромСервис" class="logo__img">
                </a>
                <ul class="header__menu">
                    <li class="menu__item"><a href="./services.html" class="item__link item__link--black">Услуги</a>
                    </li>
                    <li class="menu__item"><a href="./about.html" class="item__link">О компании</a></li>
                </ul>
                <div class="header__contacts">
                    <a href="tel:+74959243530" class="contacts__tel">+7 (495) 924-35-30</a>
                    <a href="mailto:info@spsservice.msk.ru" class="contacts__mail">info@spsservice.msk.ru</a>
                </div>
            </div>
        </header>
        <section class="section service">
            <div class="container service__container">
                <div class="service__bg"></div>
                <ul class="service__breadcrumbs">
                    <li class="breadcrumbs__item">
                        <a href="./index.html" class="item__link">Главная ∙</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a href="./services.html" class="item__link">Услуги ∙</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a href="./service.html" class="item__link item__link--active">Ремонтные услуги</a>
                    </li>
                </ul>
                <div class="service__content">
                    <div class="content__slider">
                        <div class="slider__slide">
                            <img src="./assets/images/service/1.png" alt="" class="slide__img">
                        </div>
                        <div class="slider__slide">
                            <img src="./assets/images/service/2.png" alt="" class="slide__img">
                        </div>
                        <div class="slider__slide">
                            <img src="./assets/images/service/3.png" alt="" class="slide__img">
                        </div>
                        <div class="slider__slide">
                            <img src="./assets/images/service/4.png" alt="" class="slide__img">
                        </div>
                    </div>
                    <div class="content__about">
                        <h1 class="about__title">Монтаж наливных полов</h1>
                        <p class="about__price">5 700 руб</p>
                        <p class="about__text">
                            Наша компания избавит вас головной боли с вечной нехваткой времени и опыта. Возьмет на себя
                            все ремонтные и отделочные работы в помещении. Мы предоставляем услуги:
                        </p>
                        <ul class="about__list">
                            <li class="list__item">частным лицам в домах, коттеджах и квартирах;</li>
                            <li class="list__item">юридическим лицам в офисах, зданиях и сооружения коммерческого назначения.</li>
                        </ul>
                        <div class="about__imgs">
                            <img src="./assets/images/service/2.png" alt="" class="imgs__img">
                            <img src="./assets/images/service/3.png" alt="" class="imgs__img">
                            <img src="./assets/images/service/4.png" alt="" class="imgs__img">
                        </div>
                    </div>
                    <div class="content__btns">
                        <button class="btns__btn btns__btn--l">
                            <img src="./assets/images/arrow-l.png" alt="" class="btn__img">
                        </button>
                        <button class="btns__btn btns__btn--r">
                            <img src="./assets/images/arrow-r.png" alt="" class="btn__img">
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <section class="section service-about">
            <div class="container service-about__container">
                <h2 class="service-about__title">Об услуге</h2>
                <p class="service-about__text">
                    Недоделанные плинтуса, рыжая пена вокруг окон и стены “волнами” — знакомо? Каждый, кто хоть раз
                    делал ремонт самостоятельно знают, что закончить его в срок невозможно. То, что начинается с
                    энтузиазмом, обычно заканчивается стройкой, тянущейся годами.
                </p>
                <p class="service-about__text">
                    Наша компания избавит вас головной боли с вечной нехваткой времени и опыта. Возьмет на себя все
                    ремонтные и отделочные работы в помещении. Мы предоставляем услуги:
                </p>
                <ul class="service-about__list">
                    <li class="list__item">частным лицам в домах, коттеджах и квартирах;</li>
                    <li class="list__item">юридическим лицам в офисах, зданиях и сооружения коммерческого назначения.</li>
                </ul>
                <h3 class="service-about__subtitle">Виды отделочных и ремонтных работ </h3>
                <p class="service-about__text">
                    Наша компания тщательно подходит к выбору сотрудников. Каждая бригада полностью укомплектовывается
                    специалистами, необходимыми для выбранного объекта от электрика до маляра-штукатура. Мы берем на
                    себя полный спектр услуг по ремонтным и отделочным работам под ключ:
                </p>
                <ul class="service-about__list">
                    <li class="list__item">укладка плитки;</li>
                    <li class="list__item">монтаж стен и потолков из различных материалов;</li>
                    <li class="list__item">штукатурные работы;</li>
                    <li class="list__item">покраска любого вида сложности;</li>
                    <li class="list__item">малярные работы;</li>
                    <li class="list__item">поклейка обоев;</li>
                    <li class="list__item">установка и ремонт окон и дверей;</li>
                    <li class="list__item">напольные работы;</li>
                    <li class="list__item">электрика;</li>
                    <li class="list__item">сантехника;</li>
                    <li class="list__item">звукоизоляция;</li>
                    <li class="list__item">косметический, капитальный, элитный ремонт и т. д.</li>
                </ul>
                <p class="service-about__text">
                    Полный перечень услуг узнайте, связавшись с нашим менеджером по телефонам, указанным на сайте.
                </p>
                <h3 class="service-about__subtitle">Наши сильные стороны</h3>
                <ul class="service-about__list service-about__list--num">
                    <li class="list__item">Опыт работы 11 лет.</li>
                    <li class="list__item">Высокий уровень квалификации рабочих строительных специальностей.</li>
                    <li class="list__item">Мы не просто слушаем, мы слышим и выполняем пожелания клиента. Предлагаем
                        современные альтернативные решения.</li>
                    <li class="list__item">Полностью соблюдаем сроки и договоренности.</li>
                    <li class="list__item">У нас трезвый прораб, которые контролирует ход выполнения работ на каждом
                        этапе, проверяет качество и технологии выполнения.</li>
                    <li class="list__item">Цена обсуждается перед началом работ и остается в рамках оговоренного
                        бюджета, только если заказчик сам не вносит изменения в утвержденный план.</li>
                    <li class="list__item">Беспристрастная экспертиза проекта.</li>
                </ul>
                <p class="service-about__text">
                    Совокупность таких преимуществ делает вариант сотрудничества с нашей компанией наиболее
                    привлекательным, а специализация на отдельных видах работ позволяет выполнять заказы на высочайшем
                    уровне.
                </p>
                <p class="service-about__text">
                    Нужна качественная отделка офиса, квартиры или дома? Выбирайте компанию «Название» в качестве
                    подрядчика. Пользуясь нашими услугами, вы получаете оптимальный баланс между высоким качеством
                    работ, соблюдением сроков, технологических норм и прозрачными отчетами по расходам на
                    стройматериалы.
                </p>
                <p class="service-about__text">
                    Ремонт может быть необременительным. Экономьте ваши силы, время и денежные средства.
                </p>
            </div>
        </section>
        <section class="section callback">
            <div class="container callback__container">
                <div class="callback__text">
                    <h2 class="text__title">Мы вам перезвоним</h2>
                    <p class="text__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <form class="callback__form">
                    <input type="text" class="form__inp" placeholder="Имя">
                    <input type="text" class="form__inp" placeholder="Телефон">
                    <input type="text" class="form__inp" placeholder="E-mail">
                    <button class="form__btn">Отправить</button>
                </form>
            </div>
        </section>
        <footer class="footer">
            <div class="container footer__container">
                <a href="./index.html" class="footer__logo">
                    <img src="./assets/images/logo.png" alt="Логотип" class="logo__img">
                </a>
                <ul class="footer__menu">
                    <li class="menu__item"><a href="./services.html" class="item__link">Услуги</a></li>
                    <li class="menu__item"><a href="./about.html" class="item__link">О компании</a></li>
                </ul>
                <div class="footer__dw">
                    <a href="#" class="dw__link">
                        <img src="./assets/images/dw.png" alt="#" class="dw__logo">
                        Создание и продвижение сайтов
                    </a>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="./assets/scripts/main.js"></script>
</body>

</html>